[configuration]
  offset-right = 40
  height-units = 4
  width-units = 4
  label-format = javascript: keepAfter(metric, 'quik-info.')
  server-aggregate = true
  start-time = current_day +  9 hour + 55 minute
  end-time =   current_day + 18 hour + 50 minute
  entity = quik-terminal
  hour-format = %H
  update-interval = 5 second
  disconnect-count = 2
  rotate-ticks = 0
  var uid = 510373
  [tags]
    userid = @{uid}
      
[group]
  widgets-per-row = 5
  width-units = 0.8
  format = round(0)

  [tags]
    userid = @{uid}
    limit_kind = *  
  
list tx_list = 2, 1, 0 

[widget]
  type = chart
  title = Assets. User Id: <b>@{uid}</b>
  metric = quik-asset.all_assets  
  label-format = Ttags.limit_kind  
  enabled = tags.limit_kind == '2'
    
  for tx in tx_list
  [series]       
    [tags]
      userid = @{uid}
      limit_kind = @{tx}
  endfor

[widget]
  type = chart
  title = Asset Change

  label-format = Ttags.limit_kind
  #enabled = tags.limit_kind == '2'
    
  [tags]
    userid = @{uid}
    limit_kind = 2    

  [series]    
    metric = quik-asset.all_assets 
    alias = curr
    display = false

  [series]    
    metric = quik-asset.in_all_assets 
    alias = open
    display = false
   
  [series]
    value = value('curr') - value('open')
    #label = 
    
[widget]
  type = chart
  title = Trade Results

  label-format = label
  metric = quik-asset.all_assets
  display = false

  for tx in tx_list
  [series]    
    alias = t@{tx}
    [tags]
      userid = @{uid}
      limit_kind = @{tx}
  endfor
    
  [series]    
    label = T2-T1
    value = value('t2')-value('t1')
    display = true
    
  [series]    
    label = T2-T0
    value = value('t2')-value('t0')   
    display = true
    enabled = false
    
  [series]    
    label = T1-T0
    value = value('t1')-value('t0') 
    display = true
    enabled = false    

[widget]
  type = chart
  title = T2 Balances
  label-format = label 

  [tags]
    limit_kind = 2
    
  [series]    
    metric = quik-asset.all_assets
    alias = aa
    display = false    

  [series]    
    metric = quik-asset.currentbal
    alias = cb
    label = Cash  
    
  [series]
    label = Positions
    value = value('aa') - value('cb')
    axis = right
      
[widget]
  type = chart
  title = Locks
  label-format = label
  filter = date.timeOfDay between '07:00' and '15:40'    

  [tags]
    limit_kind = 2
    
  [series]    
    metric = quik-asset.locked
    label = Locked
    enabled = false

  [series]    
    metric = quik-asset.unlocked
    label = Unlocked    
    
[group]
  widgets-per-row = 4

[widget]
  type = chart
  title = <b>BUY</b> orders
  metric = quik-table.record_count
  multiple-series = true
  label-format = tags.operation/tags.status
  enabled = tags.status != 'cancelled'
  [tags]
    userid = @{uid}
    table_name = orders
    operation = buy 

  [series]
      
[widget]
  type = chart
  title = <b>SELL</b> orders
  metric = quik-table.record_count
  multiple-series = true
  label-format = tags.operation/tags.status
  enabled = tags.status != 'cancelled'

  [series]    
  [tags]
    userid = @{uid}
    table_name = orders
    operation = sell    
    
    
[widget]
  type = chart
  title = Trades
  
  metric = quik-table.record_count 
  multiple-series = true
  label-format = tags.operation

  [series]
  [tags]
    userid = @{uid}
    table_name = trades      
      
[widget]
  type = chart
  title = Positions
  
  metric = quik-table.record_count 
  multiple-series = true
  label-format = tags.operation
  [tags]
    userid = @{uid}
    table_name = depo_limits

  [series]      

[group]   
  end-time = next_day
  start-time = current_day
    
[widget]
  type = property
  title = InfoParam
  merge-properties = true
  transpose = true
  column-entity = null
    
  [column]
     key = time
     label = Last Received (m:s.S)
     #format = %H:%M:%S on %Y-%m-%d
     format = intervalFormat('%M:%S.%L')(new Date().getTime() - value)
     style = if (isNaN(value)) return null; return (new Date().getTime()) - row.time < 20000 ? 'background-color: yellowgreen' : 'background-color: red'

  columns = connected
 
  [column]
     key = connection
     style = row.tags.connection == 'установлено' ? 'background-color: yellowgreen' : 'background-color: red'
   

  columns = servertime
  columns = localtime
  columns = lastpingtime
  columns = lastrecordtime
  columns = maxpingtime   
  columns = connectiontime
  #columns = userid

  columns = ipaddress
  columns = ipcomment
  columns = ipport

  #columns = org
  #columns = user
  columns = version

  [property]
    type = terminal-info
  [keys]
    userid = @{uid}
    
[widget]
  type = console
  source = message
  entity = *
  width-units = 3
  title = Trades
  column-entity = null
  column-tags = null
  column-severity = null
  column-message = null
  column-source = null
  column-type = null
  column-time = null
  [column]
      key = operation
      format = value.toUpperCase()
  [column]
      key = class_code
      label = Class
  [column]
      key = sec_code
      label = Symbol
      onclick = callDialog({ type: 'page', url: 'https://nur.axibase.com/portal/name/smal_tqbr_pair?entity=' + row.tags.sec_code })
  [column]
     key = value
     format = fixed(2)
  [column]
     key = price
     format = fixed(4)  
    
  columns = quantity
  #columns = lots   
  #columns = price
  #columns = value
  
  columns = trade_num
  columns = order_num
  columns = trans_id
  columns = broker_ref
  
  [column]
     key = trade_date
     label = Trade Time
     value = new Date(value)
     format = %H:%M:%S

  [column]
     label = Latency
     #assuming trade_date is in UTC
     value =  new Date(row.date).getTime() - new Date(value('trade_date')).getTime()

  [tags]
    type = quik
    source = quik-terminal
      
[group]
  widgets-per-row = 4

[widget]
  type = chart
  title = Bytes in/out per period
  period = 5 minute
  statistics = counter
  mode = column
  format = bytes

  [series]
    metric = quik-info.bytesrecv
      
  [series]
    metric = quik-info.bytessent 
    replace-value = value*-1
    series-type = neg
      
[widget]
  type = chart
  title = Messages in/out per period
  period = 5 minute
  statistics = counter
  mode = column

  [series]
    metric = quik-info.messagesrecv
      
  [series]
    metric = quik-info.messagessent
    replace-value = value*-1
    series-type = neg
      
[widget]
  type = chart
  title = Connection
  period = 1 minute
  format = fixed(2)
  interpolate = value(0)

  [series]
    metric = quik-info.connected
    statistic = count
    # freq is 5 per second
    replace-value = 100*value/12
    label-format = Heartbeat count, %    

  [series]
    metric = quik-info.connected
    statistic = threshold_percent
    min-threshold = 1
    label-format = Connected status, %
      
[widget]
  type = chart
  title = Ping
  format = fixed(2)
  period = 10 minute
  metric = quik-info.lastpingduration
  label-format = statistics 
  
  [series]
    statistics = detail
    enabled = false
    label-format = Detail 
      
  [series]
    statistics = percentile(99)
    color = orange
      
  [series]
    statistics = avg
    color = green