[configuration]
  offset-right = 50
  height-units = 4
  width-units = 2
  label-format = javascript: keepAfter(metric, 'quik-info.')
  server-aggregate = true
  start-time = current_day + 9 hour + 50 minute
  end-time = now
  entity = quik-terminal
  update-interval = 5 second
  disconnect-count = 2
  [tags]
    userid = 69760
 
[group]
  widgets-per-row = 2

[widget]
  type = chart
  title = Bytes in/out per period
  period = 5 minute
  statistics = counter
  mode = column
  format = bytes

  [series]
    metric = quik-info.bytesrecv
      
  [series]
    metric = quik-info.bytessent 
    replace-value = value*-1
    series-type = neg
      
[widget]
  type = chart
  title = Messages in/out per period
  period = 5 minute
  statistics = counter
  mode = column

  [series]
    metric = quik-info.messagesrecv
      
  [series]
    metric = quik-info.messagessent
    replace-value = value*-1
    series-type = neg
      
[widget]
  type = chart
  title = Connection
  period = 1 minute
  format = fixed(2)
  end-time = previous_minute
  interpolate = value(0)

  [series]
    metric = quik-info.connected
    statistic = count
    # freq is 5 per second
    replace-value = 100*value/12
    label-format = Heartbeat count, %    

  [series]
    metric = quik-info.connected
    statistic = threshold_percent
    min-threshold = 1
    label-format = Connected status, %
      
[widget]
  type = chart
  title = Ping
  format = fixed(2)
  period = 10 minute
  metric = quik-info.lastpingduration
  label-format = statistics 
  
  [series]
    statistics = detail
    enabled = false
    label-format = Detail 
      
  [series]
    statistics = percentile(99)
    color = orange
      
  [series]
    statistics = avg
    color = green
    
[group]
  widgets-per-row = 4
  
  
[widget]
  type = chart
  title = Table: <b>orders</b>
  metric = quik-info.table_record_count
  multiple-series = true
  label-format = tags.operation/tags.status
  enabled = tags.status != 'cancelled'
  [tags]
    table_name = orders
    operation = * 

  [series]  
    
list tables = trades, depo_limits
    
for tbl in tables
    
[widget]
  type = chart
  title = Table: <b>@{tbl}</b>
  width-units = 0.5
  metric =  quik-info.table_record_count
  multiple-series = true
  label-format = tagValue
  [tags]
    table_name = @{tbl}

  [series]

endfor
      
   
[group]      
      
[widget]
  type = property
  width-units = 2
  title = InfoParam
  end-time = next_day
  timespan = all
  #expand-tags = true
  #transpose = true
  #columns = protocol
  column-entity = null
  column-time = Time
  columns = connected
  columns = connection    
  columns = servertime
  columns = lastpingtime
  columns = lastrecordtime
  columns = maxpingtime   
  columns = connectiontime
  columns = userid

  columns = ipaddress
  columns = ipcomment
  columns = ipport

  #columns = org
  columns = user
  columns = version

  [property]
    type = terminal-info
  [keys]
    userid = 69760      
